* {
  box-sizing: border-box;
}

::selection {
  // background-color: $clr1;
  // color: $clr6;
}

html {
}

body {
  font-family: 'cereal-regular';
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
}

section,
main,
footer {
  padding: 0;
}

p {
  margin: 0 0 1em;
  // max-width: 40ch;
  @include for-mobile-layout {
   
  }
  @include for-narrow-layout {
  }
  @include for-normal-layout {
    max-width: 40ch;
  }
  @include for-wide-layout {
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
