$header-side-padding: 42px;

.app-header{
    height: 80px;
    justify-content: space-between;
    // position: fixed;
    // margin-bottom: 38px;;
    // background-color: none;
    right: 0;
    left: 0;
    top: 0;
    align-items: center; //for filter
    padding: 0 $header-side-padding;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // margin-bottom: 38px;
    button{
        height: 42px;
        width: 77px;
        background-color: white;
        border-radius: 21px;
        border: 1px solid #dddddd;
        .avatar{
            height: 80%;
            vertical-align: middle;
            position: relative;
            height: 32px;
            width: 32px;
            // margin-left: 12px;
            left: 5px;
            top: 2px;
        }
    }
    .hamburger{
        height: 16px;
        width: 16px;
        position: relative;
        top: 10px;
        margin-left: 12px;
    }
    .logo{
        height: 32px;
        
    }
    .nav{
        position: fixed;
        height: 260px;
        width: 240px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        right:$header-side-padding;
        top: 55px;
        background-color: white;
        border-radius: 21px;
        z-index: 3;
        padding: 21px;
        line-height: 42px;
    }
    body{
        @include for-mobile-layout {
            background-color: orange;
        }
        
        @include for-narrow-layout {
          background-color: yellow;
        }
        
        @include for-normal-layout {
      background-color: green;
        }
        
        @include for-wide-layout {
          background-color: blue;
        }
    }

    .bottom-nav{
        position: fixed;
        bottom: 0;
        display: flex;
        background-color: #ffffff;
        height: 65px;
        right:0;
        left:0;
        justify-content: center;
        border-top: 1px solid rgb(221, 221, 221);
        line-height: 1.43;
    color: #484848;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    justify-content: center;
    margin: 0px auto;
    // max-width: 560px
    .explore{
            content: "\002B";
    }
    }
}



